<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <center><strong><h1>About</h1></strong></center><br>
    <strong>Name: </strong>JOHNSON OYEBODE <br>
    @ written from scratch @ <br>
    <strong>Created Where: </strong>Panafrican Equipment groups 
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>