<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <center><h2>Contact</h2></center>
        contact me at <br>
        Phone number: 00986545689 <br>
        Email: oyebodej2@gmail.com
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>