<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <center><h2>Simple NodeJs App</h2></center>
   
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>